@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color:  #EEF9BF;
}
.topo{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    text-align: center;
}
.main{
    width: 100%;
    height: 100%;
}
.cartas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 122px;
    margin-right: 82px;
}
.carta{
    display: flex;
    width: 117px;
    height: 145px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 34px;
    padding-right: 34px;
}
.face{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    position: absolute;
    top: auto;
    left: auto;
}
.face img{
    width: 100px;
    height: 100px;
}
.back-face {
    transform: rotateY(180deg);
  }

.front-flip {
    transform: rotateY(-180deg);
    }
.back-flip {
transform: rotateY(0deg);
}
@media (max-width: 537px){
    .topo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.004em;
    color: #75B79E;
    }
}